body{

background: #212529;
}
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #47cf73 #212529;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #212529;
}

*::-webkit-scrollbar-thumb {
  background-color: #47cf73;
  border-radius: 20px;
  border: 3px solid #212529;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.pseudo{
	font-family: Poppins, sans-serif;
	color: #47cf73;
	font-size: 24px;
	z-index: 1000;
}

.contenair{
display: flex;
flex-wrap: wrap;
justify-content: center;

    flex-direction: column;
    align-content: center;
    align-items: center;

    height: 80vh;
    color: #fff;
}

.desc{
	width: 500px;
	    padding: 0 100px;
	height: 400px;
}

.taff h2 {
    font-size: 40px;
    color: rgba(255,255,255,.8);
    font-family: Poppins, sans-serif;
}

.tf p{
	    font-family: Poppins, sans-serif;
	      color: rgba(255,255,255,.8);
	      font-weight: 550;
	      padding: 10px 0;
}

.contact a{
    display: inline-block;
    color: #fff;
    padding: 15px 15px;
    border-radius: 5px;


    background: #47cf73;
font-family: Poppins, sans-serif;
    width: 180px;
    text-align: center;
    text-decoration: none;
}

.box-1{
	display: flex;
	justify-content: center;
	width: 350px;
height: 165px;
	align-items: center;
background: #282c34;
border-radius: 15PX;

}
.box-2{
	width: 350px;
		display: flex;
	justify-content: center;
	align-items: center;
height: 165px;
background: #282c34;
border-radius: 15PX;

}

.box-1 img{
	width: 145px;
	height: 145px;
}
.box-2 img{
	width: 85px;
	height: 85px;
}
.box-3 img{
	width: 105px;
	height: 105px;
}
.box-3{
			display: flex;
	justify-content: center;
	align-items: center;
	width: 350px;
height: 165px;
background: #282c34;
border-radius: 15PX;

}

.full{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	padding: 60px 0;
}

.ride-1{
				display: flex;
	justify-content: center;
	align-items: center;
		width: 350px;
height: 165px;
margin: 20px 0;
background: #282c34;
border-radius: 15PX;
}

.ride-2{
				display: flex;
	justify-content: center;
	align-items: center;
		width: 350px;
		margin: 20px 0;
height: 165px;
background: #282c34;
border-radius: 15PX;
}
.ride-3{
				display: flex;
	justify-content: center;
	align-items: center;
		width: 350px;
		margin: 20px 0;
height: 165px;
background: #282c34;
border-radius: 15PX;
}
.ride-4{
				display: flex;
	justify-content: center;
	align-items: center;
		width: 350px;
height: 165px;
background: #282c34;
margin: 20px 0;
border-radius: 15PX;
}
.ride-5{
				display: flex;
	justify-content: center;
	align-items: center;
		width: 350px;
height: 165px;
background: #282c34;
border-radius: 15PX;
margin: 20px 0;
}
.ride-6{
				display: flex;
	justify-content: center;
	align-items: center;
		width: 350px;
height: 165px;
background: #282c34;
border-radius: 15PX;
margin: 20px 0;
}
.crea{
		display: flex;
	justify-content: space-evenly;

	flex-wrap: wrap;
		padding: 10px 0;
}

.title{
	color: white;
	font-family: Poppins, sans-serif;
display: flex;
flex-wrap: wrap;
justify-content: center;
font-size: 24px;
}
.soc{
	color: white;
	font-family: Poppins, sans-serif;
display: flex;
flex-wrap: wrap;
justify-content: center;
font-size: 24px;
}

.ride-1 img{
	width: 80PX;
	height: 80PX;
}
.ride-2 img{
	width: 80PX;
	height: 80PX;
}
.ride-3 img{
	width: 80PX;
	height: 80PX;
}
.ride-4 img{
	width: 80PX;
	height: 80PX;
}
.ride-5 img{
	width: 80PX;
	height: 80PX;
}
.ride-6 img{
	width: 80PX;
	height: 80PX;
}
